@mixin banners($background-image){
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: $background-image;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    background-position: center;
    h2 {
        font-family: 'Ultra', serif;
        font-size: 2em;
        color: $color-secundario;
        text-shadow: 2px 2px 5px #181D31;
    }
}

@mixin restos ($background-resto1, $background-resto-hover){
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 100%;
        height: 500px;
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: $background-resto1;
        div {
            text-align: center;
            h2 {
                color: $color-secundario;
                text-shadow: 2px 2px 5px #181D31;
                font-family: 'Ultra', serif;
                font-size: 2rem;
            }
        }
        &:hover{
            background-image:  $background-resto-hover;;
        }
    }

@mixin eventos($grid-column,$grid-row){
    
        width: 100%;
        height: 100%;
        object-fit: cover;
        grid-column: $grid-column ;
        grid-row: $grid-row;
}
@mixin textEventos($grid-column,$grid-row){
    
        background-color: $background-secundario;
        padding: 2.5rem;
        border: 6px solid #fff;
        grid-column: $grid-column;
        grid-row: $grid-row;
    
}
